body{
    background: #EFEAE8;
}
.navbar{
    border: none;
    background-color: #f5f5f5;
    border-radius: 0;
}
.container{
    background: #fff;
    padding: 0;
}
.media{
    border-bottom: 1px solid #ddd;
    padding: 30px 0;
    margin-top: 0;
}
.media-left{
    padding-left: 20px;
}
.media-body{
    padding-left: 20px;
}
.media-body h3{
   margin-bottom: 10px;
}
.highlight{
    background: rgba(0,119,204, .8);
    border: none;
    color: #fff;
    -webkit-transition: linear .4s;
    -o-transition: linear .4s;
    transition: linear .4s;
}
.highlight a{
    color: #fff;
}

.share{
    margin-top: 40px;
}
.share li{
    font-size: 1.4em;
}
.page-header{
    text-align: center;
    padding: 0 15px 40px;
}

table tr{
    line-height: 2em;
}
.btn-twitter{
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    transition: ease all .2s;
}
.btn-twitter:hover{
    background: #363F45;
}
.pager{
    padding: 0 20px;
}
.list {
    margin-bottom: 60px;
}